.UserPage {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}
  
.user-actions {
    grid-column: 1;
    grid-row: 1;
}

.FileSearch {
    grid-column: 2;
    grid-row: span 2;
}

.documents {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.documents div {
    border: #000000;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
}

.UserView {
    grid-column: 1;
    grid-row: 2;
}

img {
    width: 20%;
    height: 20%;
}